<div id="<%= dom_id position %>">
  <p>
    <strong>Event:</strong>
    <%= position.event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= position.name %>
  </p>

  <p>
    <strong>Vacant:</strong>
    <%= position.vacant %>
  </p>

</div>
