<%# <div class="card">
  <div class="card-header">
  <h5 >Edit position</h5>
  
  </div>

  <div class="card-body"> %>
    <%#= render "form", position: @position %>
  <%# </div>
</div> %>
<%= render "remote_modal", title: "Edit benefit" do %>
  <%= render "form", url: position_path(@position), meth: 'patch' %>
<% end %>