<div id="<%= dom_id referendum %>">
  <p>
    <strong>Event:</strong>
    <%= referendum.event_id %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= referendum.proposal %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= referendum.active %>
  </p>

</div>
