

<div class="card">
  <div class="card-header">
    <h1>Referendum</h1>
    <%= link_to "Delete", @referendum, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @referendum %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_referendum_path(@referendum), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", referendums_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>