
<%# <div class="card">
  <div class="card-header">
  <h5>Add vote</h5>
  
  </div>

  <div class="card-body"> %>
    <%#= render "form", vote: @vote %>
  <%# </div>
</div> %>
<%= render "remote_modal", title: "Vote" do %>
    <%= render "form",  url: votes_path(m: @member, c: @candidate), meth: 'post' %>
  <% end %>