

<div class="card">
  <div class="card-header">
    <h1>Vote</h1>
    <%= link_to "Delete", @vote, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @vote %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_vote_path(@vote), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", votes_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>