<div class="col d-flex justify-content-center">
  <div class="alert alert-warning mt-5" role="alert" style="width:800px">
    <%= image_tag 'cooptechlogo.png', width: 200, class: 'mb-5 mb-lg-0 me-2' %>
    <h4 class="alert-heading">You were successful in saving your votes!</h4>
    <p> Thank you for participating in our electronic voting. </p>
    <hr>
    <p class="mb-0">To return to vote press here <%= link_to 'Vote' , voter_code_path(p: @event), class: 'text-success' %> </p>
  </div>
</div>
